h1 {
	text-align: center;
	color:white;
}

h2 {
	color:white;
	text-align: center;
	padding: 5px;
      text-align: center;
      background: #8b0000;
      color: white;
}
div {
	text-align: center;
	color: white;
	font-size: 30px;
	padding: 1px;
      text-align: center;
      background: #ffffff;
      color: white;
}
img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    height:700px;
    width: 500px;
    border: 5px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    
}
p {
	text-align: center;
	color: red;
	font-size: 20px;
}
footer {
	text-align: center;
	color: white;
}
body {
	background-image: url("https://www.stockvault.net/data/2014/12/11/166048/preview16.jpg");
	background-position: 700px;
	background-size: auto;
	height: 500px;
}
header {
	padding: 1px;
      text-align: center;
      background: #8b0000;
      color: white;
      font-size: 20px;
}