fieldset {
margin: auto;
max-width: 230px; 
border: none;
box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
}
form {
  margin-right: 92rem;
  margin-top: 10px;
}
label {
  font-weight: bold;
}
input[type="email"], input[type="text"]{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
input[type=reset] {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=submit]{
  background-color: red;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type="reset"]:hover{
  background-color: black;
}
input[type="submit"]:hover{
  background-color: black;
}
.label {
     border: 1px solid black;
     width: 230px;
     margin-left: -300px;
     margin-top: -220px;
   }

#header {
  text-align: left;

}
#line {
  border-bottom: 10px solid black;
  padding: 0 0 0.25rem 0;
  font-size: 1rem;
  width: 100%;
}
 th, td {
    font-weight: normal;
    text-align: left;
    padding: 0.25rem;
    border-top: 1px solid black;
    white-space: nowrap;
}

#small-info {
  font-size:small ;
  font-weight: bold;
}


body { background-color: white;
		margin: 0;
}


h1 {
	color: red;
    font-family: verdana;
    font-size: 300%;
    text-align: center;
}

h2 {
	color:black;
	font-family: arial;
	font-size: 25px ;
  text-align: center;
 }
h3 {
	color: black;
	font-family: arial;
	font-size: 30px;

}

li {margin: 1%;
   text-transform: capitalize;}

img {
	border-radius: 25px;
	width: 400px; 
	height: 400px;
  display: block;
  margin-left: 37%;
  margin-top: -20%;

}
#mom
{
  border-radius: 25px;
  width: 400px; 
  height: px;
  display: block;
  m

}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: yellow;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: underline;
}

header {
  text-align: center;
  background-color: red;
  padding: 20px;
  font-size: 50px;
  font-weight: bold;
  width: 100%;
}
nav {
  position: relative;
  left: 100px;
  font-size: 20px;
  height: 500%;
 }

main {
text-align: left;
  position: relative;
  left:400px;
}

footer {
  position: relative;
  top: 75px;
  text-align: center;
  background-color: red;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {

header
{
  text-align: center;
  width: 100%;
  font-size: 250%;
}
img {
 display: block;
 margin-left: auto;
margin-right: auto;
margin-top: auto;
background-position: center;
}
nav {
  text-align: left;
  position: relative;
  margin-left: auto;
}

main {
  position: relative;
  left: 10px;
  width:80%;
}
}