img {
	border-radius: 25px;
	width: 400px; 
	height: 400px;

}

body {
	background:url("file:///C:/Users/morga/OneDrive%20-%20The%20Community%20College%20of%20Baltimore%20County/CSIT121/lab03/images/mom.jpeg");
}