body { background-color: grey;
		background-image: url(../images/mom.jpeg);
}

p {
	border: 2px solid powderblue;}

h1 {
	color: blue;
    font-family: verdana;
    font-size: 300%;}

h2 {
	color:black;
	font-family: arial;
	font-size: 26px ;}

li {margin: 1%;
   text-transform: capitalize;}
img {
	border-radius: 25px;
	width: 400px; 
	height: 400px;
}
